<%= form_for @post do |f| %>
  
  <% if @post.errors.any? %>
    <% @post.errors.full_messages.each do |msg| %>
      <%= js add_gritter(msg, :title => "Overtime App Notification", :sticky => false, :time => 3000) %>
    <% end %>
  <% end %>

  <div class="mb-3">
    <%= f.label :date, class: "form-label" %>
    <%= f.date_field :date, class: "form-control" %>
  </div>

  <div class="mb-3">
    <%= f.label :rationale, class: "form-label" %>
    <%= f.text_area :rationale, class: "form-control" %>
  </div>

  <%= render partial: 'status', locals: { f: f } if current_user.type == 'AdminUser' %>
  <%= f.submit 'Save', class: "btn btn-primary" %>
<% end %>
